<!DOCTYPE html>
<html>

<head>
    <title>duckdown - editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
    <script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
    <script type="text/javascript" src="https://unpkg.com/lodash@4.16.0"></script>
    <script type="text/javascript" src="https://unpkg.com/axios@0.21.0"></script>
    <link rel="stylesheet" href="{{ static_url('editor.css') }}" />
</head>

<body>
    <div id="app">
        <table class="table">
            <tr class="menu">
                <th>
                    <a @click="back(0)">path:</a>
                    <a v-for="(item, index) in path_items" @click="back(index+1)">/{{! item }}</a>
                </th>
                <th>
                    <input type="text" v-model="file">
                </th>
                <th>
                    <button @click="save()">Save</button>
                    <button @click="images=!images">
                        <span v-if="images">Preview</span><span v-else>Images</span>
                    </button>
                </th>
            </tr>
            <tr>
                <td class="files">
                    <ul>
                        <li v-for="item in folders" @click="path=item.path">
                            <svg class="feather">
                                <use xlink:href="/static/feather-sprite.svg#folder" /></svg>
                            {{! item.name }}({{! item.path }})
                        </li>
                        <li v-for="item in files" @click="load(item.path)">
                            <svg class="feather">
                                <use xlink:href="/static/feather-sprite.svg#file" /></svg>
                            {{! item.name }}({{! item.path }})
                        </li>
                    </ul>
                </td>
                <td class="entry">
                    <textarea :value="content" @input="update"></textarea>
                </td>
                <td class="preview">
                    <s3browser v-show="images"></s3browser>
                    <div v-html="mdown" v-show="!images"></div>
                </td>
            </tr>
        </table>
    </div>
    <script src="{{ static_url('editor.js') }}" type="module"></script>
</body>

</html>